@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&display=swap");

html,
body {
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  color: hsl(240, 3%, 21%);
}

.container {
  margin: 0 16px;
}

header {
  height: 34px;
  line-height: auto;
}
header a,
header ul li a {
  font-size: 14px;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-warning {
  background: rgb(223, 117, 20);
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.pure-button {
  text-transform: uppercase;
  font-size: 14px;
}
.button-large {
  padding: 0.75em 1.25em;
}
.button-small {
  font-size: 70%;
}
.button-bar {
  margin-bottom: 18px;
}

form.pure-form.pure-form-stacked fieldset input {
  margin-bottom: 20px !important;
}

form.pure-form.pure-form-stacked fieldset input[type="checkbox"] {
  margin-bottom: 0px !important;
}

form.pure-form.pure-form-stacked fieldset label {
  font-size: 14px;
}
form.pure-form.pure-form-stacked > fieldset > legend {
  font-weight: bold;
  color: #999;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.mr-10 {
  margin-right: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-30 {
  margin-bottom: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.notification {
  margin: 10px 0;
  padding-left: 8px;
  height: 30px;
  border-radius: 2px;
  line-height: 30px;
  font-size: 12px;
  font-style: italic;
}
.notification-success {
  border-left: 3px solid rgba(0, 128, 0, 0.6);
  background-color: rgba(0, 128, 0, 0.2);
}
.notification-error {
  border-left: 3px solid rgba(255, 0, 0, 0.6);
  background-color: rgba(255, 0, 0, 0.2);
}

ul.customer-grid {
  display: grid;
  list-style-type: none;
  padding-left: 0;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  column-gap: 30px;
  row-gap: 40px;
}
ul.customer-grid > li {
  padding: 0.6em;
}

ul.customer-grid > li.card {
  padding-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

ul.customer-grid > li.card h2.card-title {
  font-size: 20px;
  letter-spacing: 1px;
  margin-top: 6px;
  margin-bottom: 12px;
  color: rgb(38, 38, 43);
}

.password-hash {
  word-wrap: break-word;
}

.delete-all-customers-form {
  margin-top: 30px;
  float: right;
}

i.fas {
  margin-right: 4px;
}

.gray-50 {
  color: rgba(0, 0, 0, 0.5);
}
